/* About section */
.rightContainer {
  width: 60%;
}
.leftContainer {
  width: 40%;
}
.emails {
  font-size: 0.83rem;
}
.boxAbout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gradientText {
  background-image: var(--gradient);
  /* This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.boxText p span {
  font-style: italic;
  font-weight: 700;
}
.myCv {
  text-decoration: none;
  color: #2c2d2f;
  transition: all 0.3s ease-in;
}

.myCv:hover {
  color: #00afb5;
  font-size: 1.2rem;
}

.api {
  background-color: #2c2d2f;
  color: white;
}
.quoteIcon {
  width: 25%;
}
.quoteIcon i {
  color: white;
  font-size: 2rem;
}
.quoteText {
  font-style: italic;
}
.myExperience {
  box-sizing: border-box;
  background: #00afb5;
  width: 100%;
  color: white;
  padding: 20px;
}
.myexLeft {
  text-align: justify;
  width: 50%;
}
.btnAbout {
  background: whitesmoke;
  border: none;
  transition: background-color 0.4s ease-in-out, color 0.4s ease-out;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  margin-top: 1.5em;
}
.btn-about:hover {
  background-color: var(--gradient-2);
  color: whitesmoke;
}
@media (max-width: 768px) {
  .rightContainer {
    width: 100%;
  }
  .leftContainer {
    width: 100%;
  }
  .boxImg {
    width: 100%;
  }
  .myexLeft {
    text-align: justify;
    width: 90%;
    margin-bottom: 2rem;
  }
}
